<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <div style="display:flex">
       <ion-title>Detalhes do Componente</ion-title>
       <button left edge ion-button color="light">
        <ion-icon  name="options" color="primary" (click)="itemSelect()"></ion-icon>
      </button>
    </div>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      Imagem do componente
    </ion-card-header>
    <img [src]="componenteImage">
    <ion-card>
      <ion-item *ngIf="picture">
        <img [src]="picture">
      </ion-item>
      <ion-item *ngIf="itemSelecionado">
        <button  ion-button block (click)="getCameraPicture('C')" [disabled]="cameraOn">Camera</button>
        <button  ion-button block (click)="getGalleryPicture('C')" [disabled]="cameraOn">Galeria</button>
        <button *ngIf="picture" ion-button outline block (click)="sendPicture('C')">Enviar Imagem</button>
        <button *ngIf="picture" ion-button outline block (click)="cancel('C')">Descartar Imagem</button>
      </ion-item>
    </ion-card>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Dados técnicos do componente
    </ion-card-header>
    <img [src]="componenteImageDetail">
    <ion-card>
      <ion-item *ngIf="pictureDetails">
        <img [src]="pictureDetails">
      </ion-item>
      <ion-item *ngIf="itemSelecionado">
        <button  ion-button block (click)="getCameraPicture('D')" [disabled]="cameraOn">Camera</button>
        <button  ion-button block (click)="getGalleryPicture('D')" [disabled]="cameraOn">Galeria</button>
        <button *ngIf="pictureDetails" ion-button outline block (click)="sendPicture('D')">Enviar Imagem</button>
        <button *ngIf="pictureDetails" ion-button outline block (click)="cancel('D')">Descartar Imagem</button>
      </ion-item>
    </ion-card>
  <ion-card-content>
    <ion-card-title>
      {{item?.codigoD}}
    </ion-card-title>

    <p>
      {{item?.descricao}}
    </p>

  </ion-card-content>
</ion-card>

</ion-content>