
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle> 
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Criar Modelo</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]='formGroup' (ngSubmit)="insertFabMod(fab, mod); $event.preventDefault()">
    <ion-item>
      <ion-label stacked>Fabricante*</ion-label>
      <ion-input  formControlName="fab" name="fab" [(ngModel)]="fab" type="text"></ion-input>
    </ion-item>
    <p class="danger" *ngIf="formGroup.controls.fab.dirty && formGroup.controls.fab.errors">Valor inválido</p>

    <ion-item>
      <ion-label stacked>Modelo*</ion-label>
      <ion-input  formControlName="mod" name="mod" [(ngModel)]="mod" type="text"></ion-input>
    </ion-item>
    <p class="danger" *ngIf="formGroup.controls.mod.dirty && formGroup.controls.mod.errors">Valor inválido</p>

    <button ion-button primary type="submit" [disabled]="formGroup.invalid">Criar</button>

  </form>
</ion-content>
